<?xml version="1.0" encoding="utf-8"?>
<sitemap>
  <siteMapNode SystemName="Home" liparResource="Admin.Home" controller="Home" action="Index">
    <siteMapNode SystemName="ManageOrganization" liparResource="Admin.Menu.ManageOrganization" PermissionNames="Menu.ManageOrganization" IconClass="fa-user" >
      <siteMapNode SystemName="User List" liparResource="Admin.Menu.ManageOrganization.ManageUser" PermissionNames="Pages.ManageUser" controller="User" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Role List" liparResource="Admin.Menu.ManageOrganization.ManageRole" controller="Role" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Command List" liparResource="Admin.Menu.ManageOrganization.ManageCommand" controller="Command" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Position List" liparResource="Admin.Menu.ManageOrganization.ManagePosition" controller="Position" action="List" IconClass="fa-dot-circle-o" />

    </siteMapNode>

    <siteMapNode SystemName="ManageSite" liparResource="Admin.Menu.ManagePublic" PermissionNames="Menu.ManagePublic" IconClass="fa-user" >
      <siteMapNode SystemName="Language List" liparResource="Admin.Menu.ManagePublic.ManageLanguage" PermissionNames="Pages.ManageLanguage" controller="Language" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Menu List" liparResource="Admin.Menu.ManagePublic.ManageMenu" controller="Menu" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Activity Log List" liparResource="Admin.Menu.ManagePublic.ManageActivityLog" PermissionNames="Pages.ManageActivityLog" controller="ActivityLog" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Faq Group List" liparResource="Admin.Menu.ManagePublic.ManageFaqGroup" PermissionNames="Pages.ManageFaqGroup" controller="FaqGroup" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Contact Us List" liparResource="Admin.Menu.ManagePublic.ManageContactUs" PermissionNames="Pages.ManageContactUs" controller="ContactUs" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Email-Account-List" liparResource="Admin.Menu.ManagePublic.ManageEmailAccount" PermissionNames="Pages.ManageEmailAccount" controller="EmailAccount" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Message-Template-List" liparResource="Admin.Menu.ManagePublic.ManageMessageTemplate" PermissionNames="Pages.ManageMessageTemplate" controller="MessageTemplate" action="List" IconClass="fa-dot-circle-o" />
    </siteMapNode>

    <siteMapNode SystemName="ManageApplication" liparResource="Admin.Menu.ManageApplication" PermissionNames="Menu.ManageApplication" IconClass="fa-user" >
      <siteMapNode SystemName="Delivery Date List" liparResource="Admin.Menu.ManageApplication.ManageDeliveryDate" PermissionNames="Pages.ManageDeliveryDate" controller="DeliveryDate" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Shipping Cost List" liparResource="Admin.Menu.ManageApplication.ManageShippingCost" PermissionNames="Pages.ManageShippingCost" controller="ShippingCost" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Category Product List" liparResource="Admin.Menu.ManageApplication.ManageCategory" PermissionNames="Pages.ManageCategoryProduct" controller="CategoryProduct" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Product List" liparResource="Admin.Menu.ManageApplication.ManageProduct" PermissionNames="Pages.ManageProduct" controller="Product" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Product Attribute List" liparResource="Admin.Menu.ManageApplication.ManageProductAttribute" PermissionNames="Pages.ManageProductAttribute" controller="ProductAttribute" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Product Comment List" liparResource="Admin.Menu.ManageApplication.ManageProductComment" PermissionNames="Pages.ManageProductComment" controller="Product" action="ProductCommentList" IconClass="fa-dot-circle-o" />
	  <siteMapNode SystemName="Product-Tag-List" liparResource="Admin.Menu.ManageApplication.ManageProductTag" PermissionNames="Pages.ManageProductTag" controller="ProductTag" action="List" IconClass="fa-dot-circle-o" />

	</siteMapNode>
    
    <siteMapNode SystemName="ManagePortal" liparResource="Admin.Menu.ManagePortal" IconClass="fa-user" >
      <siteMapNode SystemName="Category Portal List" liparResource="Admin.Menu.ManagePortal.ManageCategory" PermissionNames="Pages.ManageCategoryPortal" controller="CategoryPortal" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Blog List" liparResource="Admin.Menu.ManagePortal.ManageBlog" PermissionNames="Pages.ManageBlog" controller="Blog" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Gallery List" liparResource="Admin.Menu.ManagePortal.ManageGallery" PermissionNames="Pages.ManageGallery" controller="Gallery" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Static Page List" liparResource="Admin.Menu.ManagePortal.ManageStaticPage" PermissionNames="Pages.ManageStaticPage" controller="StaticPage" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Dynamic Page List" liparResource="Admin.Menu.ManagePortal.ManageDynamicPage" PermissionNames="Pages.ManageDynamicPage" controller="DynamicPage" action="List" IconClass="fa-dot-circle-o" />

    </siteMapNode>

    <!--financial menu-->
    <siteMapNode SystemName="ManageFinancial" liparResource="Admin.Menu.ManageFinancial" IconClass="fa-user" >
      <siteMapNode SystemName="Bank List" liparResource="Admin.Menu.ManageFinancial.ManageBank" PermissionNames="Pages.ManageBank" controller="Bank" action="List" IconClass="fa-dot-circle-o" />
	   <siteMapNode SystemName="Payment-Managment-List" liparResource="Admin.Menu.ManageFinancial.ManagePaymentManagement" PermissionNames="Pages.ManagePaymentManagement" controller="OrderTrackingFlow" action="List" IconClass="fa-dot-circle-o" />

    </siteMapNode>
  </siteMapNode>
</sitemap>