@model BlogSettingModel

<input asp-for="Id" type="hidden" />
<div class="form-group">
    <label asp-for="BlogPageSize" class="control-label">@T("Admin.BlogSetting.Field.BlogPageSize")</label>
    <input type="text" class="form-control" asp-for="BlogPageSize" required>
    <span class="text-danger" asp-validation-for="BlogPageSize" />
</div>