@model List<Lipar.Entities.Domain.Organization.Position>
@inject Lipar.Core.IWorkContext _workContext

<div class="d-flex w-full p-2 border-bottom">
    <div class="w-full d-flex flex-row jc-between">
        <div class="flex-grow-1 align-self-center">
            <div class="d-flex w-full">
                <i class="fa fa-align-justify" id="sidebar-switch" title="تمام صفحه"></i>
            </div>
        </div>
        <div class="d-flex align-self-center pr-4">
            @{
                if (Model != null && Model.Count > 0)
                {
                    <div class="d-inline-flex mr-2">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                انتخاب جایگاه
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @foreach (var position in Model)
                                {
                                    <a href="@Url.Action("ChangePosition","Position",new { Id = position.Id })" class="@overrideClass(position)">
                                        <span>@position.PositionType.Title - @position.Department.Name</span>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="d-flex align-self-center">
            <a asp-action="Logout" asp-controller="Account" asp-area="" class="btn btn-outline-danger">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </div>
</div>
@functions {
    string overrideClass(Lipar.Entities.Domain.Organization.Position position)
    {
        var cssClass = _workContext.CurrentPosition.Id == position.Id ? "dropdown-item text-success" : "dropdown-item";

        return cssClass;
    }
}