@font-face {
    font-family: Vazir;
    src: url('../../libs/fonts/Vazir-FD.eot');
    src: url('../../libs/fonts/Vazir-FD.eot?#iefix') format('embedded-opentype'), url('../../libs/fonts/Vazir-FD.woff') format('woff'), url('../../libs/fonts/Vazir-FD.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../../libs/fonts/Vazir-Bold-FD.eot');
    src: url('../../libs/fonts/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'), url('../../libs/fonts/Vazir-Bold-FD.woff') format('woff'), url('../../libs/fonts/Vazir-Bold-FD.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('../../libs/fonts/Vazir-Light-FD.eot');
    src: url('../../libs/fonts/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'), url('../../libs/fonts/Vazir-Light-FD.woff') format('woff'), url('../../libs/fonts/Vazir-Light-FD.ttf') format('truetype');
    font-weight: 300;
}
body{
    font-family:Vazir ,Tahoma;
    font-size:15px;
}
h1, h2, h3, h4, h5 {
    font-family: Vazir;
}
a{
    text-decoration:none !important;
}

ul{
    list-style:none;
}
/*loading css*/
#loading .showbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: calc(50vh - 50px);
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 9999;
}

#loading .loader {
    position: relative;
    margin: 0 auto;
    width: 100px;
}

    #loading .loader:before {
        content: '';
        display: block;
        padding-top: 100%;
    }

#loading .circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#loading .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@-webkit-keyframes color {
    100%, 0% {
        stroke: #d62d20;
    }

    40% {
        stroke: #0057e7;
    }

    66% {
        stroke: #008744;
    }

    80%, 90% {
        stroke: #ffa700;
    }
}

@keyframes color {
    100%, 0% {
        stroke: #d62d20;
    }

    40% {
        stroke: #0057e7;
    }

    66% {
        stroke: #008744;
    }

    80%, 90% {
        stroke: #ffa700;
    }
}

/*----------------Card--------------------*/
.card-header h2{
    font-size:18px !important;
}
.card-header h2 > a :hover {
    text-decoration:none;
    color:#0057e7;
}
.card-header h2 a > span{
    display:table-cell;
    vertical-align:middle;
}
    .card-header h2 a > .card-header-title {
        text-align: right;
    }

.card-header h2 a > .card-header-link {
    text-align: left;
    width: 100px;
    font-size: 16px !important;
}
/*----------------Menu--------------------*/
.header-upper {
    position: relative;
    border-bottom: 1px solid #ddd;
    z-index: 1;
}
.header-upper::after{
    clear:both;
    content:"";
    display:block;
}
.header-selectors-wrapper {
    float: left;
    border: none;
    padding: 0;
}
    .header-selectors-wrapper > div {
        width: auto;
        min-width: 100px;
        margin: 0 12px 0 0;
        line-height: 43px;
    }
.header-links-wrapper {
    float: right;
    padding: 0;
    position:relative;
}
.header-links li {
    display: inline-block;
    margin: 0 10px;
}
.header-links a, .header-links span {
    line-height: 45px;
    text-transform: none;
}
/*---------------------Product-------------------------*/
#fullDesc {
    font-family:'Vazir';
}
#product-description {
    font-family: Vazir !important;
}
