@model int

<div class="mt-3 float-right" id="shoppingCartItemCount">
    <a href="@Url.RouteUrl("ShoppingCartView")">
        <i class="fa fa-shopping-basket"></i>
        <span class="badge badge-light" style="position:absolute;top:8px;">@Model</span>
    </a>
</div>
