@model Lipar.Web.Areas.Admin.Models.Application.CategorySearchModel
@using App = Lipar.Web.Areas.Admin.Models.Application; 
@{
    Html.SetActiveMenuItemSystemName("Category Product List");
    ViewBag.PageTitle = T("Admin.CategoryProduct.List.Title").Text;
}
<form asp-controller="CategoryProduct" asp-action="List" method="post">
    <section class="card">
        <div class="card-header">
            <div class="pull-left" title="جست و جو">
                <i class="fa fa-search" aria-hidden="true" data-toggle="collapse" href="#Category-list-search"></i>
                <a asp-action="Create"> <i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card-body collapse" id="Category-list-search">
            <div class="row">
                <div class="input-group col-md-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@T("CategoryProduct.Field.Name")</span>
                    </div>
                    <input asp-for="Name" maxlength="70" type="text" autofocus="" class="form-control meta">
                </div>
            </div>
            <div class="btn-group-justified pull-left">
                <button id="search-Category-list" type="button" class="btn btn-primary">@T("Common.Search.Text")</button>
            </div>
        </div>
    </section>

    <section class="card mt-2">
        <div class="card-header">
            <span class="card-title">@T("Admin.CategoryProduct.List.Title")</span>
        </div>
        <div class="card-body">
            @{
                var gridModel = new DataTablesModel
                {
                    Name = "Category-grid",
                    SearchButtonId = "search-Category-list",
                    UrlRead = new DataUrl("List", "CategoryProduct", null),
                    Length = Model.PageSize,
                    LengthMenu = Model.AvailablePageSizes,
                    Filters = new List<FilterParameter>()
                                                {
                        new FilterParameter(nameof(Model.Name))
                    }
                };

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(App.CategoryModel.Name))
                {
                    Title = T("CategoryProduct.Field.Name").Text
                });

                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(App.CategoryModel.NameCrumb))
                {
                    Title = T("CategoryProduct.Field.NameCrumb").Text
                });
                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(App.CategoryModel.Id))
                {
                    Title = "",
                    Width = "80",
                    ClassName = LiparColumnClassDefaults.Button,
                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                });

                @await Html.PartialAsync("Table", gridModel)
            }
        </div>
    </section>
</form>