@model CommandModel
@{
    Html.SetActiveMenuItemSystemName("Command List");
    ViewBag.PageTitle = T("Admin.Command.Add.Card.Title").Text;
}

<form asp-action="Create" asp-controller="Command" method="post">
    @Html.AntiForgeryToken()
    <section class="card">
        <div class="card-header clearfix">
            <div class="pull-right">
                <span class="card-title">@T("Admin.Command.Add.Card.Title")</span>
            </div>

            <div class="pull-left">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    @T("Common.Add.Button")
                </button>
                <a asp-action="List" class="btn btn-primary">
                    <i class="fa fa-arrow-circle-left"></i>
                    @T("Common.Back.Button")
                </a>
            </div>
        </div>
        <div class="card-body">
            @await Html.PartialAsync("_CreateOrUpdate", Model)
        </div>
    </section>
</form>