<?xml version="1.0" encoding="utf-8"?>
<sitemap>
  <siteMapNode SystemName="Home" liparResource="Dashboard.Home" controller="Home" action="Index">
    <siteMapNode SystemName="User Managment" liparResource="Dashboard.Menu.UserManagment" PermissionNames="" IconClass="fa-user" >
      <siteMapNode SystemName="Profile" liparResource="Dashboard.Menu.UserManagment.Profile" PermissionNames="" controller="User" action="Profile" areaName="Dashboard" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="ChangePassword" liparResource="Dashboard.Menu.UserManagment.ChangePassword" controller="User" action="ChangePassword" areaName="Dashboard" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Address List" liparResource="Dashboard.Menu.UserManagment.AddressManagment" controller="UserAddress" action="List" areaName="Dashboard" IconClass="fa-dot-circle-o" />
		<siteMapNode SystemName="Order List" liparResource="Dashboard.Menu.Order" controller="Order" action="List" areaName="Dashboard" IconClass="fa-dot-circle-o" />
    </siteMapNode>
  </siteMapNode>
</sitemap>