@model LanguageModel

<div class="text-danger" asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

@await Html.PartialAsync("_CreateOrUpdate.Info", Model)

@await Html.PartialAsync("_CreateOrUpdate.Resources", Model)