<!DOCTYPE html>

<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.PageTitle</title>

    <link href="~/admin/css/Admin.css" rel="stylesheet" />
    <link href="~/libs/bootstrap-rtl/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/libs/fontawesome/font-awesome.css" rel="stylesheet" />
    <link href="~/admin/lib/datatables/datatables.css" rel="stylesheet" />
    <link href="~/admin/lib/datatables/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/admin/lib/datatables/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/admin/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/libs/fineuploader/fine-uploader.css" rel="stylesheet" />


    <script src="~/libs/jquery/jquery.js"></script>
    <script src="~/libs/jquery-validate/jquery.validate.js"></script>
    <script src="~/libs/jquery-validate/jquery.validate.unobtrusive.js"></script>
    <script src="~/libs/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/libs/moment.js/moment.js"></script>
    <script src="~/libs/moment.js/moment-with-locales.js"></script>
    <script src="~/libs/bootstrap-rtl/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/lib/datatables/datatables.js"></script>
    <script src="~/admin/lib/datatables/dataTables.buttons.min.js"></script>
    <script src="~/admin/lib/datatables/buttons.bootstrap.min.js"></script>
    <script src="~/admin/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/admin/js/admin.common.js"></script>
    <script src="~/libs/fineuploader/jquery.fine-uploader.js"></script>

    @RenderSection("Head", false)
</head>
<body class="rtl">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 bg-light" id="sidebar">
                <div id="sidebar-close" class="mt-1">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                </div>
                <div id="sidebar-title">
                    <div id="sidebar-title-image">
                        <img class="m-auto d-block" src="~/admin/images/logo.png" />
                    </div>
                </div>

                @await Html.PartialAsync("Menu")

            </nav>
            <div class="col-md-9" id="wrapper">
                @await Component.InvokeAsync("Toolbar")

                @await Html.PartialAsync("Notifications")

                <div id="content" dir="rtl">
                    @RenderBody()
                </div>

            </div>

        </div>

    </div>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function(){
            $('#sidebar-switch').click(function(e){
                e.preventDefault();
                $('#sidebar').toggleClass('toggle-sidebar');

                var $wrapper = $('#wrapper');
                if($wrapper.hasClass('col-md-9')){
                    $wrapper.removeClass('col-md-9');
                    $wrapper.toggleClass('col-md-12');
                }else{
                    $wrapper.removeClass('col-md-12');
                    $wrapper.toggleClass('col-md-9');
                }
            })

            $('#sidebar-close').click(function(e){
                e.preventDefault();
                 $('#sidebar').toggleClass('toggle-sidebar');
                 $('#wrapper').toggleClass('toggle-sidebar');
            })
        })


        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $($.fn.dataTable.tables(true)).DataTable()
                .columns.adjust();
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
</body>
</html>
