@using Lipar.Web.Framework.Menu
    <div class="sidebar-sticky" id="sidebar-menu-container">
        @{
            var siteMap = new XmlSiteMap();

            siteMap.LoadFrom("~/Areas/Admin/sitemap.config");

            //standard (default) items
            var rootNode = siteMap.RootNode;

            foreach (var item in rootNode.ChildNodes.Where(x => x.Visible))
            {
                @await Html.PartialAsync("_MenuItem", item)
            }
        }
    </div>