@model MenuModel

@{
    if (Model.Id != Guid.Empty)
    {

        <div class="card">
            <div class="card-body">
                @{
                    var gridModel = new DataTablesModel
                    {
                        Name = "menuItem-grid",
                        UrlRead = new DataUrl("MenuItems", "Menu", new RouteValueDictionary { [nameof(Model.MenuItemSearchModel.MenuId)] = Model.Id }),
                        UrlDelete = new DataUrl("MenuItemDelete", "Menu", null),
                        Length = Model.MenuItemSearchModel.PageSize,
                        LengthMenu = Model.MenuItemSearchModel.AvailablePageSizes
                    };

                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(MenuItemModel.Name))
                    {
                        Title = T("MenuItem.Field.Name").Text
                    });

                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(MenuItemModel.Id))
                    {
                        Width = "100",
                        ClassName = LiparColumnClassDefaults.Button,
                        Title = T("Common.Edit.Button").Text,
                        Render = new RenderButtonEdit(new DataUrl("~/Admin/Menu/MenuItemEdit/"))
                    });

                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(MenuItemModel.Id))
                    {
                        Width = "100",
                        ClassName = LiparColumnClassDefaults.Button,
                        Title = T("Common.Delete.Button").Text,
                        Render = new RenderButtonRemove(T("Common.Delete.Button").Text)

                    });

                    @await Html.PartialAsync("Table", gridModel)
                }

            </div>
            <div class="card-footer">
                <a asp-action="MenuItemCreate" asp-route-menuId="@Model.Id" class="btn btn-primary pull-left">
                    <i class="fa fa-plus"></i>
                    @T("Common.Add.Button")
                </a>
            </div>
        </div>
    }



}
