@model MenuModel
@{
    Html.SetActiveMenuItemSystemName("Menu List");
    ViewBag.PageTitle = T("Admin.Menu.Edit.Card.Title").Text;
}

<form asp-action="Edit" asp-controller="Menu" method="post">
    <section class="card">
        <div class="card-header clearfix">
            <div class="pull-right">
                <span class="card-title">@T("Admin.Menu.Edit.Card.Title") - @Model.Name</span>
            </div>

            <div class="pull-left">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    @T("Common.Edit.Button")
                </button>
                <a asp-action="List" class="btn btn-primary">
                    <i class="fa fa-arrow-circle-left"></i>
                    @T("Common.Back.Button")
                </a>
            </div>
        </div>

        <div class="card-body">
            @await Html.PartialAsync("_CreateOrUpdate", Model)
        </div>
    </section>
</form>