@model IList<ShoppingCartItemModel>

<div class="card">
    <div class="card-header">
        <span class="card-title">@T("Web.ShoppingCartItem.Cart.Title")</span>
    </div>
    <div class="card-body" id="cart">
        @if (Model != null && Model.Count > 0)
        {
            @await Html.PartialAsync("_Cart", Model)
        }
        else
        {
            <div class="alert alert-info">
                <p class="text-info text-justify">سبد شما خالی است</p>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script src="~/themes/js/cart.js"></script>
}