@model MiniShoppingCartItemModel

@section BodySection
{
    <section class="row">
        <div class="col-md-7" id="user-address-box">
            @await Component.InvokeAsync("UserAddress")
        </div>
        <div class="col-md-5">
            <ul class="list-group">
                <li class="list-group-item">
                    <label class="text-info">مبلغ کل محصولات</label>
                    <label>@string.Format("{0:#,0} {1}", Model.AmountProducts,T("Web.Currency").Text)</label>
                </li>
                <li class="list-group-item">
                    <label class="text-info">مبلغ کل تخفیفات</label>
                    <label>@string.Format("{0:#,0} {1}", Model.CartDiscountAmount,T("Web.Currency").Text)</label>
                </li>
                <li class="list-group-item">
                    <label class="text-info">مبلغ نهایی محصولات</label>
                    <label>@string.Format("{0:#,0} {1}", Model.CartAmount, T("Web.Currency").Text)</label>
                </li>
            </ul>

            @await Component.InvokeAsync("Bank")
        </div>
    </section>
}
@section Scripts{ 
    <script src="~/themes/js/cart.js"></script>


}