@model UserAddressModel
@{
    Layout = null;
}
<script>
    $.validator.unobtrusive.parse($("#userAddressEdit"));
</script>

<form id="userAddressEdit" novalidate="novalidate">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Id" />
    <section class="card">
        <div class="card-header">
            <span class="card-title">@T("Web.ShoppingCartItem.UserAddress.Edit")</span>
        </div>
        <div class="card-body">
            @Html.AntiForgeryToken()
            @await Html.PartialAsync("_CreateOrUpdate.UserAddress", Model)
        </div>
        <div class="card-footer">
            <button type="button" onclick="cart.editUserAddress('@Url.Action("UserAddressEdit","ShoppingCartItem")'); return false;" class="btn btn-success float-right">@T("Web.Comment.Add")</button>
        </div>
    </section>
</form>