@model ProductModel

@{
    if (Model != null && Model.ProductTags.Any())
    {
        <div class="card">
            <div class="card-header">
                <span class="card-title">@T("Product.Page.ProductTags.List.Title").Text</span>
            </div>
            <div class="card-body">
                @foreach (var productTag in Model.ProductTags)
                {
                    <span class="badge badge-pill badge-info">@productTag.Name</span>
                }
            </div>
        </div>
    }
}