@model ProductModel

@if (Model.RelatedProducts != null && Model.RelatedProducts.Count > 0)
{
    <div class="card">
        <div class="card-header">
            <span class="card-title">@T("Product.Page.RelatedProduct.List.Title").Text</span>
        </div>
        <div class="card-body">
            <div class="row">
                @foreach (var relatedProduct in Model.RelatedProducts.OrderBy(r => r.Priority))
                {
                    <div class="col-md-4 d-flex align-items-lg-stretch">
                        @{
                            var imgUrl = "../images/site/product-empty.png";
                            if (relatedProduct.MediaModel != null && relatedProduct.MediaModel.Id != Guid.Empty)
                            {
                                imgUrl = $"../images/uploaded/{relatedProduct.MediaModel.MediaId}-{relatedProduct.MediaModel.Name}{relatedProduct.MediaModel.MimeType}";
                            }
                        }
                        <div class="card">
                            <div class="card-body">
                                <img src="@imgUrl" class="w-100" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
