<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.200\DotnetTools\dotnet-watch\6.0.200-rtm.22104.9\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:60706/Lipar.Web/,ws://localhost:60707/Lipar.Web/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA13ohGo/ai0V4PcfVQ/zFdwW4wCTjDoocVFocUCVVvqIPIMQ6colX8s4ohk9vPFjeBVHUA8YolQu1+fk6Jwf1P1vGwNLc60lHETa97yrnaTHv2zkgMFMmAi6C9Ya/PHWdUuhcDXB1A/CwuKpjMqTgfLVZQKJwnEscufgfNKhlV1Kgm/2utkWmw+O7yPXMjzec57aTq8uoe368GOMVbbPlTv8ZULN7iAwUZV3kumMTFuSdi/R171+d32P5+UTTcSImP/KEK8SSQwk4r/HqgDc1GgycPTjKzATSnSVLNOCq+lb+FZ/cObHN1l/SaW4EXAHtEAXUXDXGpMTuZxQFO3M9pQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>