<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.200\DotnetTools\dotnet-watch\6.0.200-rtm.22104.9\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:62615/Lipar.Web/,ws://localhost:62616/Lipar.Web/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwnH1KMpP8NGLoFxGhPGbMj4bMAnMSIpd5YylRQnVs6CcjS74iQi9ZlBBjV7OXxRos5FbjeuaNVVzU/SzB9BOxWUuIo4rjEmoXQgpy3WEDxP7SX8snulnSy5vc726y2e8Z6tpWgu0OxeWY58oR3jAnsB4IblHG233sXX9Jts7iuKtM2YbB7NE7ZyhCwJ40NkSt+T1QRrFghcpSdPx9krUb13lUOFcbTbjhoG70Ndi9nJfXwymVbGYP+yOSo1GL8Y4dZuFMDK/AhHmLIWwyXmN1+D6FS3e7NVO9OcuPRcKYJOmU4QQB4Rcs7MV82Py4aCSb7WVw6TujtTx7uuiZMT3kQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>