<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.200\DotnetTools\dotnet-watch\6.0.200-rtm.22104.9\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:49758/Lipar.Web/,ws://localhost:49759/Lipar.Web/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4BEQtyUVsZF54aCvG+CnYQEbcW8U+MpXpn3zJFXd6aGdOIyUBz9P1lLZTC3HsrD9P1SjE7o0uJi6g/HUoBXjnXJftTpWlgO0xI9bxPWxjMfxL4hnokc436ka0keczgDGqxl4iNyfQiGVEnvscA8868AGwxqOB0MIcrR/Bj8iutxzO2bssAGAQHJtUFN5P9qaGr6JStkLUivS+gUFeqs6vJBAB0Dl57Mr2PMzW3IfwfS8SZPZbIdZUyXzRYm/B/qi6EtXhl/8r/R0/tcDeIf2vkYpNYZwzooGPtHpMczt2ptWsbQ2emDKcCa3du2LEDTZ8UUz/Hvn6jHOSL1g/4QcRQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>