@{
    ViewBag.PageTitle = T("Admin.Home.Title").Text;
}
<div class="mt-1 p-2">
    <p>@T("Admin.Panel.Wellcome")</p>
</div>

<section class="card">
    <div class="card-body">
        <div class="row">
            <!--statistic product comment-->
            <div class="col-md-4">
                @await Component.InvokeAsync("StatisticsProductComments")
            </div>
        </div>
    </div>
</section>