@model UserModel

<div class="card">
    <div class="card-header">
        <i class="fa fa-info"></i>
        <span class="card-title ml-1">@T("Admin.User.Card.Roles.Title")</span>
    </div>

    <div class="card-body">
        <table class="table table-bordered mt-3">
            @foreach (var role in Model.AvailableRoles)
            {
                var allowed = Model.AvailablePositionRole.ToList().Any(rp => rp.RoleId == role.Id);
                <tr>
                    <th>
                        <input name="allowed_@role.Id" value="@role.Id" type="checkbox" @(allowed ? "checked = checked" : null) />
                        @role.Name
                    </th>
                </tr>
            }
        </table>

    </div>
</div>